<div class="top">
  <p class="title"><%= t('.title') %></p>
  <p class="main-phrase">ウイスキーの世界へようこそ~初心者からの旅路をサポートします~</p>
  <p class="sub-phrase">自分だけのウイスキー&カクテルマップを作成し、新しい風味に挑戦。</p>
</div>

<div class="explanation">
  <div class="card mb-3 ms-3 mt-3" style="max-width: 1400px;">
    <div class="row g-0">
      <div class="col-md-6">
        <%= image_tag "スクリーンショット 2024-09-06 162825.png", class: "image img-fluid rounded-start" %>
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h5 class="card-title">マイページ</h5>
          <p class="card-text">ユーザーが登録したウイスキーの本数、</p>
          <p class="card-text"><small class="text-body-secondary">新規登録、ログインして利用可能です</small></p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3 ms-3 mt-3" style="max-width: 1400px;">
    <div class="row g-0">
      <div class="col-md-6">
        <%= image_tag "スクリーンショット 2024-09-06 162848.png", class: "image img-fluid rounded-start" %>
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h5 class="card-title">ウイスキー登録</h5>
          <p class="card-text">このページでは、ウイスキーの名前、説明、容量、生産国、原料などを入力して新しいウイスキーを登録できます。画像の追加も可能で、保有するウイスキーの残量や複数のテイスティング記録も管理できます。</p>
          <p class="card-text"><small class="text-body-secondary">新規登録、ログインして利用可能です</small></p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3 ms-3 mt-3" style="max-width: 1400px;">
    <div class="row g-0">
      <div class="col-md-6">
        <%= image_tag "スクリーンショット 2024-09-06 162912.png", class: "image img-fluid rounded-start" %>
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h5 class="card-title">カクテル一覧</h5>
          <p class="card-text">ウイスキーベースのカクテルリストが表示され、カクテル名や簡単な説明、アイコンが並びます。気になるカクテルをクリックすると、レシピや作成手順をYouTube動画で確認できます。お気に入り登録機能もあり、作成したいカクテルをマイページに保存できます。</p>
          <p class="card-text"><small class="text-body-secondary">新規登録、ログインしないと一部の機能をご利用いただけません</small></p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3 ms-3 mt-3" style="max-width: 1400px;">
    <div class="row g-0">
      <div class="col-md-6">
        <%= image_tag "スクリーンショット 2024-09-06 163013.png", class: "image img-fluid rounded-start" %>
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h5 class="card-title">蒸留所一覧</h5>
          <p class="card-text">日本各地の蒸留所を地図上で確認できるページです。各蒸留所の詳細情報や所在地が表示されており、地図上でその位置も確認できます。</p>
          <p class="card-text"><small class="text-body-secondary">新規登録、ログインしなくても利用可能です</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .title {
    color: #DAA520; /* リッチなゴールド */
    font-family: 'Playfair Display', serif; /* エレガントなセリフ体フォント */
    font-size: 48px; /* 最大フォントサイズ */
    font-weight: 800; /* ボールドウェイト */
    text-align: center; /* 画面のトップに堂々と配置 */
    
    /* エンボス効果 */
    text-shadow: 
        1px 1px 2px #000,  /* 外側の影 */
        -1px -1px 2px #fff,  /* 内側の光 */
        0px 0px 10px rgba(255, 255, 255, 0.5); /* 光沢のエフェクト */
  }

  .main-phrase {
    color: #D4AF37; /* ソフトなゴールド */
    font-family: 'Merriweather', serif; /* セリフ体フォント */
    font-size: 36px; /* 大きめのフォントサイズ */
    font-weight: 600; /* ミディアムウェイト */
    text-align: center; /* 中央に配置 */
    
    /* ソフトなドロップシャドウ */
    text-shadow: 
        3px 3px 5px #000000; /* シャドウの色、透明度、オフセット */
  }

  .sub-phrase {
    color: #CD7F32; /* ブロンズ */
    font-family: 'Lato', sans-serif; /* サンセリフ体フォント */
    font-size: 24px; /* メインフレーズより少し小さめ */
    font-weight: 400; /* レギュラーウェイト */
    text-align: center; /* 下部に配置 */

    text-shadow: 
        3px 3px 5px #000000; /* シャドウの色、透明度、オフセット */
  }

  .top { 
    margin-top: 100px;

  }

  .image {
    height: 400px;
    width: 600px;
    margin-bottom: 30px;
    margin-top:30px;
    margin-left: 30px;
  }

  .explanation {
      background-color: #CD7F32;
      margin-top: 300px;
      flex-wrap: wrap;
  }
</style>
