<% breadcrumb :cocktails %>
<h1><%= t('.title') %></h1>
<%= render 'shared/cocktail_search_form' %>
<div class="cocktail-list text-center bg-body-secondary shadow-lg">
  <% @base_cocktails.each do |bc| %>
    <h3>~<%= bc.base_name %>~</h3>
  <% @cocktails.each do |c| %>
    <% if bc.id == c.base_cocktail_id %>
    <div class="cocktail-item mb-3">
      <div class="index-frame">
        <div class="index-name">
          <%= link_to c.cocktail_name, cocktail_path(c), class: 'underline-animation' %>
        </div>
        <div class="index-cocktail_origin">
          <%= c.cocktail_origin %>
        </div>
      <% if user_signed_in? %>
        <div class="d-md-inline-flex align-items-center">
          <div class="bookmark-button me-3">
            <%= render 'cocktails/bookmark_button', cocktail: c %>
          </div>
          <div class="cocktail-tasting-presence">
            <% if current_user && c.cocktail_tastings.where(user_id: current_user.id).present? %>
              <div class='showFormButton'>
                <i class="fa-solid fa-martini-glass-citrus" title="クリックしてカクテルテイスティングを確認できます"></i>
              </div>
              <div class='myForm' style="display: none;">
                <% c.cocktail_tastings.where(user_id: current_user.id).each do |f| %>
                  <div class="cocktail-tasting col-md-6 d-md-inline">
                    <strong>ウイスキー:</strong> <%= f.whiskey.name %>
                  </div>
                  <div class="actions text-right">
                    <%= link_to t('helpers.btn.edit'), edit_cocktail_cocktail_tasting_path(c, f), class: 'btn btn-outline-primary' %>
                    <%= link_to t('helpers.btn.destroy'), cocktail_cocktail_tasting_path(c, f), data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' }, class: 'btn btn-outline-danger' %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  <% end %>
  <% end %>
  <% end %>
</div>

<style>
  .underline-animation {
  position: relative;
  color: blue; /* 任意の文字色 */
  text-decoration: none; /* デフォルトの下線を非表示 */
}

.underline-animation::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px; /* 下線の太さ */
  bottom: 0;
  left: 50%;
  background-color: blue; /* 下線の色 */
  transition: width 0.3s ease, left 0.3s ease; /* アニメーションの速さとタイプ */
}

.underline-animation:hover::after {
  width: 100%; /* hover時に下線を全体に表示 */
  left: 0;
}

</style>

<script>
document.addEventListener('turbo:load', function() {
    var showFormButtons = document.querySelectorAll('.showFormButton');
    var forms = document.querySelectorAll('.myForm');

    showFormButtons.forEach(function(button, index) {
        // リスナーを登録する前に、既存のリスナーを削除
        var newButton = button.cloneNode(true);
        button.replaceWith(newButton);
        newButton.addEventListener('click', function() {
            var form = forms[index];
            if (form.style.display === 'none' || form.style.display === '') {
                form.style.display = 'block';
            } else {
                form.style.display = 'none';
            }
        });
    });
});


</script>
