<% breadcrumb :cocktails %>
<h1><%= t('.title') %></h1>
<%= render 'shared/cocktail_search_form' %>
<div class="cocktail-list text-center">
  <% @cocktails.each do |c| %>
    <div class="cocktail-item mb-3">
      <div class="index-frame">
        <div class="index-name">
          <%= link_to c.cocktail_name, cocktail_path(c) %>
        </div>
        <div class="index-cocktail_origin">
          <%= c.cocktail_origin %>
        </div>
        <div class="d-md-inline-flex align-items-center">
          <div class="bookmark-button me-3">
            <%= render 'cocktails/bookmark_button', cocktail: c %>
          </div>
          <div class="cocktail-tasting-presence">
            <% if c.cocktail_tastings.present? %>
              <i class="fa-solid fa-martini-glass-citrus ", title= "テイスティング登録してあります"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
