<% breadcrumb :cocktail, @cocktail %>
<div class="container">
  <div class="row">
    <div class="col-md-6 bg-body-secondary shadow-lg">
      <div class="show-frame mb-3">
        <div class="mb-5">
          <h1><%= @cocktail.cocktail_name %></h1>
        </div>
        <div class="mb-5">
          <%= @cocktail.cocktail_origin %>
        </div>
        <div class="mb-5">
          <%= @cocktail.cocktail_recipe %>
        </div>
        <div class="mb-5">
          <%= @cocktail.cocktail_create %>
        </div>
      <% if user_signed_in? %>
        <%= render 'cocktails/bookmark_button', cocktail: @cocktail %>
      <% end %>
      </div>
      <% if user_signed_in? %>
        <div class="cocktail-tasting mb-3">
            <%= link_to t('cocktails.show.link'), new_cocktail_cocktail_tasting_path(@cocktail) %>
        </div>
      <% end %>
    </div>
    <div class="col-md-6">
        <% if @cocktail.cocktail_url.present? %>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @cocktail.cocktail_url %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <% else %>
          <p class='text-center mt-md-5'><%= t('cocktails.show.nul') %></p>
        <% end %>
    </div>
      <%= render 'shared/cocktail_pagenate' %>
  </div>
</div>
