<footer id='footer' class='position: sticky;'>
  <div class='container-fluid'>
    <div class='row'>
      <div class='col-md-6 text-start'>
        <ul class='list-unstyled'>
          <li>
            <%= link_to "https://drive.google.com/file/d/1yzy31J_g62al6czuCTaKRqxxNXQQteem/view?usp=sharing", class: "link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover" do %><%= t('.rule') %><% end %>
          </li>
          <li>
            <%= link_to "https://kiyac.app/privacypolicy/b149NohP0sP9Zo9fMAsh", class: "link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover" do %><%= t('.private') %><% end %>
          </li>
        </ul>
      </div>
      <div class='col-md-6 text-end'>
        <p class="mb-0">Copyright © 2024. TXOXU</p>
      </div>
    </div>
  </div>
</footer>

<style>
  footer {
    font-family: 'Playfair Display', serif;
    background-image: url(<%= asset_path '背景.jpg' %>);
    height: 20%;
    color: white;
  }

  

</style>
