<%= form_with model: @search_form, url: whiskeys_path, method: :get, local: true do |f| %>
  <div class="row align-items-center">
    <div class="col-md-2">
      <div class="form-group">
        <%= f.label :category_names, t('.category_names') %>
        <%= f.select :category_names, options_for_select(@category_names.map(&:category_name)), include_blank: true, class: 'form-control' %>
      </div>
    </div>
    
    <div class="col-md-3">
      <div class="form-group">
        <%= f.label :category_types, t('.category_types') %>
        <%= f.select :category_types, options_for_select(@category_types.map(&:category_type)), include_blank: true, class: 'form-control' %>
      </div>
    </div>
    
    <div class="col-md-3">
      <div class="form-group d-flex align-items-center">
        <%= f.label :name, t('.name') %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>
    
    <div class="col-md-3">
      <div class="form-group  d-flex align-items-center">
        <%= f.label :text, t('.text') %>
        <%= f.text_field :text, class: 'form-control' %>
      </div>
    </div>

    <div class="col-md-1">
      <div class="form-group ">
        <%= f.submit t('helpers.submit.search'), class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
