<div class="container mypage-container">
  <div class="row">
    <div class="col-md-6">
      <div class="total-container">
        <div class="total-frame">
          <div class="total-text">
            <p><%= t('.sum_create') %></p>
          </div>
          <div class="total-number">
            <%= current_user.whiskeys.count %>本
          </div>
        </div>
        
        <div class="whiskey-container">
          <% @categories.each do |category| %>
            <div class="whiskey-frame">
              <div class="whiskey-text">
                <%= category %>
              </div>
              <div class="whiskey-number">
                <%= @whiskey_count_by_category[category] || 0 %>本
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="chart-container">
        <%= pie_chart @whiskey_count_by_category %>
      </div>
    </div>
  </div>
</div>
