<% breadcrumb :cocktail_tasting, @cocktail %>
<div class="container ms-2">
  <div class="row justify-content-center ">
    <div class="col-md-6 offset-md-2 tasting-edit-frame bg-body-secondary shadow-lg">
      <h1 class="text-center"><%= t('.title') %></h1>
      <%= form_with model: @cocktail_tasting, url: cocktail_cocktail_tastings_path(@cocktail), local: true do |f| %>
        <div class="form-group col-md-8 ms-5 mb-3">
          <%= f.label :name, class: "col-form-label" %><span class="text-danger">*</span>
          <%= f.select :name, @whiskeys.map { |whiskey| [whiskey.name, whiskey.name] }, { prompt: "選択してください" }, required: true, class: "form-control" %>
        </div>

        <% [{ key: 'aroma', label: '香り' },
            { key: 'flavor', label: '味' },
            { key: 'appearance', label: '見た目、色合い' },
            { key: 'mouthfeel', label: '口当たり' },
            { key: 'finish', label: '後味' }].each do |item| %>
          <div class="form-group col-md-8 ms-5 mb-3">
            <%= f.label item[:key], item[:label] %>
            <div class="cocktail-star-rating ms-5 ps-5" data-category="<%= item[:key] %>"></div>
            <%= f.hidden_field item[:key], id: "#{item[:key]}-value", value: 0 %>
          </div>
        <% end %>

        <div class="form-group col-md-8 ms-5 mb-3">
          <%= f.label :others, 'その他' %>
          <%= f.text_field :others, class: "form-control" %>
        </div>

        <div class="actions text-end">
          <%= f.submit t('helpers.submit.create'), class: "btn btn-outline-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
