
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2 tasting-edit-frame shadow-lg bg-body-secondary">
      <h1 class="text-center"><%= t('.title') %></h1>
      <%= form_with model: [@whiskey, @tasting], id: 'edit_whiskey_tasting', local: true do |f| %>
        <div class="form-group row">
          <%= f.label :tasting_type, class: "col-md-3 col-form-label" %><span class="text-danger">*</span>
          <div class="col-md-9">
            <%= f.select :tasting_type, options_for_select(['ストレート', 'ロック', 'フロート（水割り）', 'ハイボール'], @tasting.tasting_type), { include_blank: '選択してください' }, class: "form-control" %>
          </div>
        </div>

        <% [{ key: 'aroma', label: '香り' },
            { key: 'flavor', label: '味' },
            { key: 'balance', label: 'バランス' },
            { key: 'body', label: '濃さ' },
            { key: 'finish', label: '余韻' }].each do |item| %>
          <div class="form-group row">
            <%= f.label item[:key], item[:label], class: "col-md-3 col-form-label" %>
            <div class="col-md-9">
              <div class="star-rating ms-5 ps-5" data-category="<%= item[:key] %>" data-score="<%= f.object.send(item[:key]) %>"></div>
              <%= f.hidden_field item[:key], id: "#{item[:key]}-value" %>
            </div>
          </div>
        <% end %>

        <div class="form-group row">
          <%= f.label :tasting_text, class: "col-md-3 col-form-label" %>
          <div class="col-md-9">
            <%= f.text_area :tasting_text, class: "form-control" %>
          </div>
        </div>

        <div class="actions text-right mt-3">
          <%= f.submit t('helpers.submit.update'), class: "btn btn-outline-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    // 評価項目に共通のRaty設定を適用
    $('.star-rating').each(function() {
      var category = $(this).data('category'); // data-category属性からカテゴリ名を取得
      var score = $(this).data('score');

      $(this).raty({
        score: score,
        scoreName: category,
        hints: {
          'aroma': ['良くない', '少し悪い', '普通', '良い', 'とても良い'],
          'flavor': ['薄い', 'やや薄い', '普通', '良い', 'とても良い'],
          'balance': ['バランスが悪い', '少しバランスが悪い', 'バランスが取れている', '良いバランス', '完璧なバランス'],
          'body': ['薄い', '軽い', '中程度', '濃い', '非常に濃い'],
          'finish': ['短い', 'やや短い', '普通', '長い', '非常に長い']
        }[category], // 各カテゴリに対して異なるヒントを指定
        cancelHint: 'リセット',
        cancelButton: true,
        half: true,
        halfShow: true,
        cancelOn: 'https://cdnjs.cloudflare.com/ajax/libs/raty/3.1.1/images/cancel-on.png',
        cancelOff: 'https://cdnjs.cloudflare.com/ajax/libs/raty/3.1.1/images/cancel-off.png',
        starOn: 'https://cdnjs.cloudflare.com/ajax/libs/raty/3.1.1/images/star-on.png',
        starHalf: 'https://cdnjs.cloudflare.com/ajax/libs/raty/3.1.1/images/star-half.png',
        starOff: 'https://cdnjs.cloudflare.com/ajax/libs/raty/3.1.1/images/star-off.png',
        click: function(score) {
          $('#' + category + '-value').val(score);  // 選択した値をhidden_fieldに設定
        }
      });
    });
  });
</script>
