<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2 tasting-frame">
      <h1 class="text-center"><%= t('.title') %></h1>
        <div class="form-group row tasting-type">
        <label class="col-md-3 col-form-label"><%= t('helpers.label.tasting_type') %></label>
          <div class="col-md-9">
            <p class="form-control-plaintext"><%= @tasting.tasting_type %></p>
          </div>
        </div>
        <div class="form-group row tasting-flavor">
        <label class="col-md-3 col-form-label"><%= t('helpers.label.flavor')%></label>
          <div class="col-md-9">
            <p class="form-control-plaintext"><%= @tasting.flavor %></p>
          </div>
        </div>
        <div class="form-group row tasting-aroma">
        <label class="col-md-3 col-form-label"><%= t('helpers.label.aroma')%></label>
          <div class="col-md-9">
            <p class="form-control-plaintext"><%= @tasting.aroma %></p>
          </div>
        </div>
        <div class="form-group row tasting-text">
        <label class="col-md-3 col-form-label"><%= t('helpers.label.tasting_text')%></label>
          <div class="col-md-9">
            <p class="form-control-plaintext"><%= @tasting.tasting_text %></p>
          </div>
        </div>
        <div class="form-group row">
        <label class="col-md-3 col-form-label"><%= t('helpers.label.tag_names')%></label>
          <div class="col-md-9 tag">
            <% if @tasting.tags.present? %>
              <% @tasting.tags.each do |t| %>
                <p class="form-control-plaintext">
                  <%= t.tag_name %>
                </p>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="actions text-right">
          <%= link_to t('helpers.btn.edit'), edit_whiskey_tasting_path(@whiskey, @tasting), class: 'btn btn-primary' %>
          <%= link_to t('helpers.btn.destroy'), whiskey_tasting_path(@whiskey, @tasting), data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' }, class: 'btn btn-danger' %>
        </div>
    </div>
  </div>
</div>
