<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="edit-frame">
        <div class="whiskey-edit">
          <h1><%= t('.title') %></h1>
        </div>
        <%= form_with model: @whiskey, id: 'edit_whiskey', local: true do |f| %>
          <div class="mb-3">
            <%= f.label :name %><span class="text-danger">*</span>
            <%= f.text_field :name, class: "form-control", required: true %>
          </div>

          <div class="mb-3">
            <%= f.label :text %>
            <%= f.text_field :text, class: "form-control" %>
          </div>

          <div class="mb-3">
            <%= f.label :remmaining_quantity_id %><span class="text-danger">*</span>
            <%= f.collection_radio_buttons :remmaining_quantity_id, @quantities, :id, :quantity, class: "form-check-input", required: true do |rb| %>
              <%= rb.radio_button %>
              <%= rb.label(class: "form-check-label") %>
            <% end %>
          </div>
          
          <div class="mb-3">
            <%= f.label :image %>
            <%= f.file_field :image, class: "form-control" %>
          </div>

          <div class="mb-3">
            <%= f.label :category_names %><span class="text-danger">*</span>
            <%= f.select :category_names, @category_names.map { |c| c.category_name }, { prompt: "選択してください" }, class: "form-control", required: true %>
          </div>

          <div class="mb-3">
            <%= f.label :category_types %><span class="text-danger">*</span>
            <%= f.select :category_types, @category_types.map { |c| c.category_type }, { prompt: "選択してください" }, class: "form-control", required: true %>
          </div>

          <div class="actions">
            <%= f.submit t('helpers.submit.create'), class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  
    <div class="col-md-3">
      <div class="image-container text-center">
        <div id="previews" class="border p-3">
          <%= t('helpers.preview') %>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="quantity-container text-center">
        <div id="quantity-previews" class="border p-3">
          <%= t('helpers.preview') %>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  document.addEventListener('turbo:load', function() {
    const radioButtons = document.querySelectorAll('input[name="whiskey[remmaining_quantity_id]"]');
    const preview = document.getElementById('quantity-previews');

const selectedQuantityId = document.querySelector('input[name="whiskey[remmaining_quantity_id]"]:checked');
  if (selectedQuantityId) {
    const initialQuantity = findQuantityById(selectedQuantityId.value);
    if (initialQuantity && initialQuantity.quantity_image) {
      const imagePath = '/assets/' + initialQuantity.quantity_image;
      preview.innerHTML = `<img src="${imagePath}" class="preview-image">`;
      preview.style.display = 'block';
    }
  }
    radioButtons.forEach(radio => {
      radio.addEventListener('change', function () {
        const selectedQuantityId = this.value;
        const selectedQuantity = findQuantityById(selectedQuantityId);
        
        if (selectedQuantity && selectedQuantity.quantity_image) {
          const imagePath = '/assets/' + selectedQuantity.quantity_image;
          preview.innerHTML = `<img src="${imagePath}" class="preview-image">`;
          preview.style.display = 'block';
        } else {
          preview.innerHTML = '';
          preview.style.display = 'none';
        }
      });
    });

    function findQuantityById(id) {
      const quantities = [
        { id: 1, quantity_image: '0ml-a254db60c9aa72434814e9358220986148a6ba02431d065b9a7229d07cc2576b.jpg' },
        { id: 2, quantity_image: '100ml-85bf600123d794fc90e916d3275bf36f3930c5a624b83f6d6323a6956965311d.jpg' },
        { id: 3, quantity_image: '200ml-60b110b7cc6a0164de1821f3905805f5f52725a119106913b914dd503db87032.jpg' },
        { id: 4, quantity_image: '300ml-1265037e13926b3cd989e6e3ce0fd56be40910c9abcd34c6e87ab05f751bbf15.jpg' },
        { id: 5, quantity_image: '400ml-ab63d5693ed76f651e2905d2e6ccc13c59db195c968f5f60a10bb0dd1dfc74ce.jpg' },
        { id: 6, quantity_image: '500ml-aa6f227f709c891ffa0726ee076254e372ba279cf51b599f5b2ccdb932027d75.jpg' },
        { id: 7, quantity_image: '600ml-6d879b7114d8638dc7cf6b7cdd73b8cd074dde37503a60456c2502b38a20809d.jpg' },
        { id: 8, quantity_image: '700ml-5c61fc17665d8183cb6360d6a357bf880eb03c27b8a5e520e101a2aa02931df2.jpg' }
      ];

      return quantities.find(quantity => quantity.id.toString() === id);
    }
  });
</script>

