<div class="container ">
  <div class="row">

<% breadcrumb :whiskeys %>
<%= render 'shared/search_form' %>
<% if current_user.whiskeys.present? %>
  <div class="whiskey-list">
    <% @whiskeys.each do |whiskey| %>
      <div class="whiskey-item">
        <% if whiskey.image.present? %>
          <div class="image-frame">
            <%= image_tag whiskey.image.url, class: 'whiskey-image' %>
          </div>
        <% else %>
          <%= image_tag 'image.png', alt: 'Example Image', size: '200x298' %>
        <% end %>
        <div class="index-frame">
          <div class="index-name">
            <%= link_to whiskey.name, whiskey_path(whiskey) %>
          </div>
            <div class="index-quantity">
              <%= whiskey.remmaining_quantity.quantity %>
            </div>
          <% whiskey.categories.each do |c| %>
            <div class="index-categoryname">
              <%= c.category_name %>
            </div>
            <div class="index-categorytype">
              <%= c.category_type %>
            </div>
          <% end %>
          <div class="index-tags">
            <% if whiskey.tastings.present? %>
              <% whiskey.tastings.each do |tasting| %>
                <% tasting.tags.each do |tag| %>
                  <span class="tag"><%= tag.tag_name %></span>
                <% end %>
              <% end %>
            <% else %>
              <p><%= t('.not_tastings') %></p>
            <% end %>
          </div>
          <div class="index-actions">
            <%= link_to t('.add_tasting'), new_whiskey_tasting_path(whiskey), class: 'btn btn-primary' %>
            <%= link_to t('helpers.btn.edit'), edit_whiskey_path(whiskey), class: 'btn btn-primary' %>
            <%= link_to t('helpers.btn.destroy'), whiskey_path(whiskey), data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' }, class: 'btn btn-danger' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @whiskeys %>
<% else %>
  <p><%= t('.not_whiskeys') %></p>
<% end %>
</div>
</div>
