<%= render 'search_form', url: whiskeys_path %>

<% if @whiskeys.present? %>
  <% @whiskeys.each do |whiskey| %>
    <div class="index-container">
      <% if whiskey.image.present? %>
        <div class="image-frame">
          <%= image_tag whiskey.image.url %>
        </div>
      <% end %>
    <div class="index-frame">
      <div class="index-name">
        <%= link_to whiskey.name, whiskey_path(whiskey) %>
      </div>
      <% whiskey.categories.each do |category| %>
        <div class="index-categoryname">
          <%= category.category_name %>
        </div>

        <div class="index-categorytype">
          <%= category.category_type %>
        </div>
      <% end %>
      <div class="index-tags">
        <% if whiskey.tastings.present? %>
          <% whiskey.tastings.each do |tasting| %>
              <% tasting.tags.each do |tag| %>
                <span class="tag"><%= tag.tag_name %></span>
              <% end %>
          <% end %>
        <% else %>
          <p>まだ、テイスティングは登録されていません</p>
        <% end %>
      </div>
    </div>

        <div class="index-actions">
          <%= link_to 'テイスティングを追加', new_whiskey_tasting_path(whiskey), class: 'btn btn-primary' %>
          <%= link_to '編集', edit_whiskey_path(whiskey), class: 'btn btn-primary' %>
          <%= link_to '削除', whiskey_path(whiskey), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger' %>
        </div>
      </div>
  <% end %>
<% else %>
  <p>ウイスキーが登録されていません</p>
<% end %>
