<% breadcrumb :whiskeys %>
<%= render 'shared/search_form' %>
  <div class="accordion row justify-content-center" id="accordionExample">
    <% if current_user.whiskeys.present? %>
      <% @whiskeys.each do |whiskey| %>
          <div class="card mb-5 shadow-lg" style="max-width: 850px;">
            <div class="row g-0">
              <div class="col-md-4">
                <% if whiskey.image.present? %>
                  <%= image_tag whiskey.image.url, class: "img-fluid rounded-start", size: '150x200' %>
                <% else %>
                  <%= image_tag "default.jpg", class: "img-fluid rounded-start", size: '150x200' %>
                <% end %>
              </div>
              <div class="col-md-4">
                <% if whiskey.remmaining_quantity.present? && whiskey.remmaining_quantity.quantity_image.present? %>
                  <%= image_tag whiskey.remmaining_quantity.quantity_image, size: '150x200' %>
                <% else %>
                  <p class="pt-5 mt-5">量は設定されていません</p>
                <% end %>
              </div>
              <div class="col-md-4">
                <div class="card-body">
                  <h3 class="card-title"><%= whiskey.name %></h3>
                    <% if whiskey.remmaining_quantity.present? && whiskey.remmaining_quantity.quantity.present? %>
                      <p class="card-text"><%= whiskey.remmaining_quantity.quantity %></p>
                    <% end %>
                    <% whiskey.categories.each do |c| %>
                      <p class="card-text"><small class="text-body-secondary"><%= c.category_name %></small></p>
                      <p class="card-text"><small class="text-body-secondary"><%= c.category_type %></small></p>
                    <% end %>
                      <p class="card-text">
                        <%= link_to t('.add_tasting'), new_whiskey_tasting_path(whiskey), class: 'btn btn-outline-primary btn-sm' %>
                        <%= link_to t('helpers.btn.edit'), edit_whiskey_path(whiskey), class: 'btn btn-outline-secondary btn-sm' %>
                        <%= link_to t('helpers.btn.destroy'), whiskey_path(whiskey), data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' }, class: 'btn btn-outline-danger btn-sm' %>
                      </p>
                </div>
              </div>
            </div>
          </div>
  


        <% if @tastings.where(whiskey_id: whiskey.id).present? %>
            <h2 class="accordion-header mb-3" style="max-width: 850px;">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-<%= whiskey.id %>" aria-expanded="false" aria-controls="collapse-<%= whiskey.id %>">
                テイスティング一覧
              </button>
            </h2>
            <% @tastings.where(whiskey_id: whiskey.id).each do |f| %>
              <div id="collapse-<%= whiskey.id %>" class="accordion-collapse collapse row justify-content-center" data-bs-parent="#accordionExample">
                <div class="card text-center mb-5 shadow-lg" style="max-width: 850px;">
                  <div class="card-header">
                    <%= f.tasting_type %>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">
                      総合評価
                      <%= image_tag 'https://cdnjs.cloudflare.com/ajax/libs/raty/3.1.1/images/star-on.png' %>
                      <%= (f.aroma + f.flavor + f.balance + f.body + f.finish) / 5 %>
                    </h5>
                    <p class="card-text">
                      香り<%= image_tag 'https://cdnjs.cloudflare.com/ajax/libs/raty/3.1.1/images/star-on.png' %><span class="me-3"><%= f.aroma %></span>
                      味<%= image_tag 'https://cdnjs.cloudflare.com/ajax/libs/raty/3.1.1/images/star-on.png' %><span class="me-3"><%= f.flavor %></span>
                      バランス<%= image_tag 'https://cdnjs.cloudflare.com/ajax/libs/raty/3.1.1/images/star-on.png' %><span class="me-3"><%= f.balance %></span>
                      濃さ<%= image_tag 'https://cdnjs.cloudflare.com/ajax/libs/raty/3.1.1/images/star-on.png' %><span class="me-3"><%= f.body %></span>
                      余韻<%= image_tag 'https://cdnjs.cloudflare.com/ajax/libs/raty/3.1.1/images/star-on.png' %><span class="me-3"><%= f.finish %></span>
                    </p>
                    <div class= "actons">
                      <%= link_to t('helpers.btn.edit'), edit_whiskey_tasting_path(whiskey, f), class: 'btn btn-outline-primary' %>
                      <%= link_to t('helpers.btn.destroy'), whiskey_tasting_path(whiskey, f), data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' }, class: 'btn btn-outline-danger' %>
                    </div>
                  </div>
                  <div class="card-footer text-body-secondary">
                    <%= f.tasting_text %>
                  </div>
                </div>
              </div>
            <% end %>
        <% end %>
      <% end %>
      <%= paginate @whiskeys %>
    <% else %>
      <h4 class="text-center"><%= t('.not_whiskeys') %></h4>
    <% end %>
  </div>
