<div class="whiskey-container">
  <div class="whiskey-frame">

    <div class="whiskey-new">
      <h1>ウイスキー登録</h1>
    </div>
    <%= form_with model: @whiskey, local: true do |f| %>
      <div class="whiskey-name">
        <%= f.label :name, "ウイスキー名" %>
        <%= f.text_field :name %>
      </div>

      <div class="whiskey-text">
        <%= f.label :text, "ウイスキーの説明" %>
        <%= f.text_field :text %>
      </div>

      <div class="whiskey-image">
        <%= f.label :image, "画像を追加" %>
        <%= f.file_field :image, id: 'image_input' %>
      </div>

      <div class="whiskey-category-name">
        <%= f.label :category_names, "生産国ウイスキー" %>
        <%= f.select :category_names, @category_names.map { |c| [c.category_name, c.category_name] }, { prompt: "選択してください" } %>
      </div>

      <div class="whiskey-category-type">
        <%= f.label :category_types, "原料別ウイスキー" %>
        <%= f.select :category_types, @category_types.map { |c| [c.category_type, c.category_type] }, { prompt: "選択してください" } %>
      </div>

      <div class="actions">
        <%= f.submit "登録" %>
      </div>
    <% end %>
  </div>

  <div class="image-container">
    <% if @whiskey.image? %>
      <%= image_tag @whiskey.image.url, id: 'image_preview' %>
    <% end %>
  </div>

  <div class="quantity-container">
  </div>
</div>
