<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="show-frame mb-3">
        <div class="whiskey-show">
          <h1><%= t('.title') %></h1>
        </div>
        <div class="mb-3">
          <%= @whiskey.name %>
        </div>
        <% @categories.each do |c| %>
          <div class="mb-3">
            <%= c.category_name %>
          </div>
          <div class="mb-3">
            <%= c.category_type %>
          </div>
        <% end %>
          <div class="mb-3">
            <%= @whiskey.text %>
          </div>
          <div class="show-actions">
            <%= link_to t('helpers.btn.edit'), edit_whiskey_path(@whiskey), id: "button-edit-#{@whiskey.id}", class: 'btn btn-primary' %>
            <%= link_to t('helpers.btn.destroy'), whiskey_path(@whiskey), id: "button-delete-#{@whiskey.id}", data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' }, class: 'btn btn-danger' %>
          </div>
      </div>
      <% if @whiskey.tastings.present? %>
        <% @whiskey.tastings.each do |t| %>
          <%= link_to whiskey_tasting_path(@whiskey, t) do %>
            <div class="mb-3">
              <%= t.tasting_type %>
          <% end %>
              <div class="ms-3">
              <%= link_to t('helpers.btn.edit'), edit_whiskey_tasting_path(@whiskey, t), class: 'btn btn-primary' %>
              <%= link_to t('helpers.btn.destroy'), whiskey_path(@whiskey, t), data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" }, class: 'btn btn-danger' %>
              </div>
            </div>
        <% end %>
      <% else %>
        <p><%= t('.not_tasting') %></p>
      <% end %>
    </div>
    <div class="col-md-6">
      <% if @whiskey.image.present? %>
        <div class="image-container text-center border p-3">
          <%= image_tag @whiskey.image.url %>
        </div>
      <% end %>
    </div>

    <div class="quantity-container">
    </div>
  </div>
</div>
