<% content_for :breadcrumbs do %>
  <%= breadcrumb :whiskey, @whiskey %>
<% end %>

<div class="container my-4">
  <div class="card border-0 shadow-lg bg-body-secondary">
    <div class="card-body">
      <h1 class="card-title text-center mb-4" style="font-size: 2rem;"><%= t('.title') %></h1>
      <div class="row">
        <div class="col-md-6">
          <div class="mb-4">
            <h2 class="mb-5"><%= @whiskey.name %></h2>
            <% if @whiskey.remmaining_quantity.present? %>
              <h3 class="mb-5"><strong>量:</strong> <%= @whiskey.remmaining_quantity.quantity %></h3>
            <% end %>

            <% @categories.each do |c| %>
              <h3 class="mb-5"><strong>カテゴリ名:</strong> <%= c.category_name %></h3>
              <h3 class="mb-5"><strong>種類:</strong> <%= c.category_type %></h3>
            <% end %>

            <h3 class="mb-5"><strong>その他:</strong>
            <% if @whiskey.text.present? %>
              <%= @whiskey.text %>
            <% else %>
              なし
            <% end %>
            </h3>
          </div>


          <div class="row">
            <div class="btn-group-vertical col-3" role="group" aria-label="Vertical radio toggle button group">
              <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio1" autocomplete="off" checked>
              <label class="btn btn-outline-danger" for="vbtn-radio1">画像ファイル</label>
              <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio2" autocomplete="off">
              <label class="btn btn-outline-danger" for="vbtn-radio2">量機能</label>
            </div>
          </div>

          <div class="text-center mb-4">
            <%= link_to t('whiskeys.index.add_tasting'), new_whiskey_tasting_path(@whiskey), class: 'btn btn-outline-primary' %>
            <%= link_to t('helpers.btn.edit'), edit_whiskey_path(@whiskey), class: 'btn btn-outline-primary me-2' %>
            <%= link_to t('helpers.btn.destroy'), whiskey_path(@whiskey), data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' }, class: 'btn btn-outline-danger' %>
          </div>

          

          <% if @whiskey.tastings.present? %>
            <% @whiskey.tastings.each do |t| %>
              <div class="mb-3 p-2 border rounded">
                <%= link_to whiskey_tasting_path(@whiskey, t), class: 'text-decoration-none text-dark' do %>
                  <p class="mb-0"><strong>飲み方:</strong> <%= t.tasting_type %></p>
                <% end %>
                <div class="text-center mt-2">
                  <%= link_to t('helpers.btn.edit'), edit_whiskey_tasting_path(@whiskey, t), class: 'btn btn-outline-primary btn-sm me-2' %>
                  <%= link_to t('helpers.btn.destroy'), whiskey_tasting_path(@whiskey, t), data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" }, class: 'btn btn-outline-danger btn-sm' %>
                </div>
              </div>
            <% end %>
          <% else %>
            <p class="text-center mt-md-5"><%= t('.not_tasting') %></p>
          <% end %>
        </div>

        <div class="col-md-6" id="previews-form">
            <div class="text-center mb-4">
              <%= image_tag @whiskey.image.url, class: "img-fluid rounded shadow-sm", style: "width: 450px; height: 600px;" %>
            </div>
        </div>

        <div class="col-md-6" id="quantity-previews-form" stlye="display: none;">
          <div class="text-center mb-4">
          <% if @whiskey.remmaining_quantity.present? %>
            <%= image_tag @whiskey.remmaining_quantity.quantity_image, class: "rounded shadow-sm", style: "max-width: 80%; height: 505;" %>
          <% else %>
            <p>設定していません。</p>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="mt-4">
    <%= render 'shared/whiskey_pagenate' %>
  </div>
</div>



<script>

document.addEventListener('turbo:load', function() {
    const radioImage = document.getElementById('vbtn-radio1');
    const radioQuantity = document.getElementById('vbtn-radio2');
    const formImagePreviews = document.getElementById('previews-form');
    const formQuantityPreviews = document.getElementById('quantity-previews-form');

    if (radioImage.checked) {
      formImagePreviews.style.display = 'block';
      formQuantityPreviews.style.display = 'none';
    }

    radioImage.addEventListener('change', function() {
      if (radioImage.checked) {
      formImagePreviews.style.display = 'block';
      formQuantityPreviews.style.display = 'none';
      }
    });

    radioQuantity.addEventListener('change', function() {
      if (radioQuantity.checked) {
      formImagePreviews.style.display = 'none';
      formQuantityPreviews.style.display = 'block';
      }
    });
  });
</script>
