<!DOCTYPE html>
<html lang="ja">

<head>
  <title>USQUA</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>

  <script type="module" src="https://unpkg.com/@googlemaps/extended-component-library@0.6"></script>
  <script src="https://kit.fontawesome.com/33a37d63de.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.js" integrity="sha512-+k1pnlgt4F1H8L7t3z95o3/KO+o78INEcXTbnoJQ/F2VqDVhWoaiVml/OEHv9HsVgxUaVW+IbiZPUJQfF/YxZw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/raty/3.1.1/jquery.raty.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&libraries=places&callback=initMap&v=weekly" defer async></script>
  <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.3.2/dist/confetti.browser.min.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/raty/3.1.1/jquery.raty.css" integrity="sha512-eAw/PBoRwV3poi1Cgw4W6dZ/7XyetSWjhSqnCevCghOJ6J+TCcJgt8qcEml8It83K6GQVZbXeFA8d3z8pgo82w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Merriweather:wght@400;600&family=Playfair+Display:wght@700;800&display=swap" rel="stylesheet">

  <%= display_meta_tags(default_meta_tags) %>
</head>

<body>
  <%= render 'shared/header' %>
  <main class="main-content">
    <%= render 'shared/flash_message' %>
    <%= breadcrumbs separator:  ' / ', class: 'breadcrumb' %>
    <%= yield %>
  </main>
  <%= render 'shared/footer' %>

  <style>
    .main-content {
      background-image: url(<%= asset_path '背景.jpg' %>);
      font-family: 'Playfair Display', serif;
      padding-top: 80px;
      min-height: 100vh;
    }
  </style>
</body>

</html>
